mixin footer()
  +b.DIV.footer
    +e.DIV.top
      +e.DIV.inner
        +e.SPAN.title Подключайся и играй на наших серверах!
        +b.DIV.contacts.--footer
          +e.DIV.item.--color
            +b.SPAN Админ:
            +b.A(href="tel:+38(068) 333-22-10") +38(068) 333-22-10
          +e.DIV.item.--color
            +b.A(href="tel:+38(068) 333-22-10") +38(068) 333-22-10
          +e.DIV.item.--color
            +b.SPAN По донату:
            +b.A(href="tel:+38(068) 333-22-10") 067-33-22-180
    +e.DIV.middle
      +e.DIV.inner
        +b.UL.images-list
          +e.LI.elem
            +b.IMG(src="./assets/img/optifine.png")
          +e.LI.elem
            +b.IMG(src="./assets/img/rail.png")
          +e.LI.elem
            +b.IMG(src="./assets/img/force.png")
          +e.LI.elem
            +b.IMG(src="./assets/img/craft.png")
    +e.DIV.bottom
      +e.DIV.inner
        +e.DIV.title.--color.--size (c) Poshtar Boba, 2016