mixin hero() 
  +b.DIV.hero
    +e.DIV.inner
      +b.UL.side-menu
        +e.LI.item  
          +e.A(href="#") Мир Minecraft
          +e.UL.childs
            +e.LI.child 
              +e.A(href="#") Блоки
            +e.LI.child 
              +e.A(href="#") Мобы
            +e.LI.child 
              +e.A(href="#") Стурктуры
            +e.LI.child 
              +e.A(href="#") Биомы
            +e.LI.child 
              +e.A(href="#") Миры
        +e.LI.item
          +e.A(href="#") Industrial craft
        +e.LI.item
          +e.A(href="#") OptiFine
        +e.LI.item
          +e.A(href="#") Forge
        +e.LI.item
          +e.A(href="#") TooManyItems
        +e.LI.item
          +e.A(href="#") RailCraft
      +e.content
        +e.H3.title Подключайся и играй на наших серверах!
        +e.slider
          +b.IMG(src="./assets/img/slider.jpg")
        +b.P Minecraft — компьютерная игра в стиле песочницы с открытым миром, в которой перед игроком не ставятсякакие-либо определенные цели — игроки сами выбирают, что им делать в игре. Несмотря на это, игра содержитсистему достижений — поощрительных наград за выполнение определенных действий.
      +b.features
        +e.feature
          +e.text
            +b.SPAN 2016-08-04
            +b.P Страж подводной крепости довольно сильный противник для начинащего ирока
          +e.picture.--square
        +e.feature
          +e.text
            +b.SPAN 2016-06-27
            +b.P Встречайте: белые медведи вхолодных биомах! 
          +e.picture.--bear
        +e.feature
          +e.text
            +b.SPAN 2016-04-17
            +b.P В мобильной версии теперьможно приручить кролика, онстанет верным другом
          +e.picture.--love
