mixin navigation() 
	+b.DIV.menu
		+e.DIV.inner
			+e.UL.items
				+e.LI.item.--active
					+e.A.link(href="#") Главная
				+e.LI.item
					+e.A.link(href="#") Об игре
				+e.LI.item
					+e.A.link(href="#") Список серверов
				+e.LI.item
					+e.A.link(href="#") Наша команда
				+e.LI.item
					+e.A.link(href="#") Донат